* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#clock {
  text-align: center;
  position: relative;
  top: 40%;
  font-size: 6rem;
  font-family: Staatliches, cursive;
}
